* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: rgb(255, 177, 255);
  align-content: center;
  align-items: center;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: center;
  width: 80%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #a33648;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.btn {
  background-color: #a33648;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 12px;
}

.btn:hover {
  background-color: #fe63e7;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}
