b<!DOCTYPE html>
<html>
<head>
<title>@KAUKAUBEAN</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="styles/main.css" rel="stylesheet" type="text/css">
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: #a8e8ff;
  }
  
  /* Banner content */
  .banner {
    padding: 5vw;
    text-align: center;
    background-image: url(https://cdn.shopify.com/s/files/1/2675/8584/files/60FECA76-49C0-4167-9A60-D41741CA142D_1296x.jpg?v=1659176836);
    color: white;
    font-size: 4vw;
    border-radius: 10vw;
  }
  
  h2 {
    text-align: center;
  }
  
  h5 {
    text-align: center;
    color: rgb(239, 245, 241);
  }
  
  /* Nav styling */
  .nav {
    background-color: #f190e2;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin: 2vw;
    border-radius: 10vw;
  }
  
  /* Intro block */
  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  #profile-pic {
    max-width: 100%;
    height: auto;
    margin: 2vw;
    padding: 2vw;
    border-radius: 10vw;
  }
  
  .text {
    font-size: 2vw;
    padding: 2vw;
    margin: 2vw;
    text-align: center;
    letter-spacing: 0.2vw;
    max-width: 100%;
    align-content: center;
  }
  
  /* Column content */
  * {
    box-sizing: border-box;
  }
  
  /* Left column */
  .leftcolumn {
    float: none;
    width: 100%;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 5vw;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #a33648;
    padding: 5vw;
    margin-top: 2vw;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .sparkle-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
  }
  
  .sparkle {
    position: absolute;
    width: 1vw;
    height: 1vw;
    background-color: #f5f5f5;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    animation: sparkleAnim 1s linear forwards;