body {
font-family: Arial, Helvetica, sans-serif;
}
/*Banner content*/
.banner {
  padding: 60px;
  text-align: center;
  background-image:
  url(https://cdn.shopify.com/s/files/1/2675/8584/files/60FECA76-49C0-4167-9A60-D41741CA142D_1296x.jpg?v=1659176836);
  color: white;
  font-size: 30px;
  border-radius: 40px;
}

h2 {
  text-align: center;
}
h5 {
  text-align: center;
  color: rgb(239, 245, 241);
}
/*Nav styling*/
.nav {
  background-color: #f190e2;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  margin: 20px 15px 20px 15px;
  border-radius: 40px;
}
/*Intro block */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 -10px;
  }
  
  #profile-pic {
    max-width: 500px;
    max-height: 500px;
    margin: 20px 15px 20px 15px;
    padding:20px 15px 20px 15px;
    border-radius: 50px;

  }

  .text {
    flex:  1 0 50% ;
    padding: 0 10px;
    margin: 20px;
    text-align: center;
    letter-spacing: 2px;
    max-width: 100%;

  }

  /*Adjust for screens 800px or smaller */
  @media (max-width: 800px)
  .text {
    flex: 1 0 100%;
  }

/*Column content*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #a8e8ff;
}
.btn {
  background-color: #fcbbff;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 12px;
}

.btn:hover {
  background-color: #fe63e7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: rgb(255, 177, 255);
  align-content: center;
  align-items: center;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: center;
  width: 80%;

}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: #a33648;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sparkle-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.sparkle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f9b2ea;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  animation: sparkleAnim 1s linear forwards;
}

@keyframes sparkleAnim {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;