<style>
body {
font-family: Arial, Helvetica, sans-serif;
background-color: lightblue;
}
/*Banner content*/
.banner {
  padding: 60px;
  text-align: center;
  background-image:
  url(https://cdn.shopify.com/s/files/1/2675/8584/files/60FECA76-49C0-4167-9A60-D41741CA142D_1296x.jpg?v=1659176836);
  color: white;
  font-size: 30px;
}

h2 {
  text-align: center;
}
h5 {
  text-align: center;
  color: rgb(239, 245, 241);
}
/*Nav styling*/
.nav {
  background-color: #f190e2;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  margin: 20px 15px 20px 15px;
}
/*Intro block */
.content {padding:20px;}
</style>
</head>
<body>

/*Column content*/
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Remove */
}
</style>
</head>
<body>
.list {
 background-color: yellow;
 padding: 25px 30px
}

.button {
    background-color: #f6ff4a;
    border: none;
    color: rgb(7, 23, 250);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;

</style>